DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,ops.alshifalab.pk,api.ops.alshifalab.pk
DJANGO_CSRF_TRUSTED_ORIGINS=https://ops.alshifalab.pk,https://api.ops.alshifalab.pk
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_SECURE_PROXY_SSL_HEADER=True
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
